<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <meta charset="UTF-8">
  <title>Admin Page</title>
</head>
<body th:align="center">
<h2>All Users</h2>
<h3><a href="/admin/new">New User</a> </h3>
<table th:border="1" th:align="center">
  <tr>
    <th>ID</th>
    <th>Username</th>
    <th>Age</th>
    <th>Email</th>
    <th>Role</th>
    <th>Action</th>
  </tr>
  <tr th:each="user: ${users}">
      <td th:text="${user.id}"></td>
      <td th:text="${user.username}"></td>
      <td th:text="${user.age}"></td>
      <td th:text="${user.email}"></td>
      <td>
      <a th:each="role: ${user.roles}"
         th:text="${role.getName().replace('ROLE_', ' ')}"></a>
      </td>

      <td>
        <a th:href="@{/admin/{id}/edit(id=${user.getId()})}">Edit</a>
        <a th:href="@{/admin/delete/{id}(id=${user.getId()})}">Delete</a>
      </td>
  </tr>
</table>
<br>
<form name="logoutForm" th:action="@{/logout}" method="GET">
  <input type="submit" value="Logout"/>
</form>
<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

</body>
</html>