<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>

  <meta charset="UTF-8">
  <title>Edit User</title>

</head>
<body>

<form th:method="patch" th:action="@{/admin/{id}(id=${user.getId()})}" th:object="${user}">
  <label for="username">Enter name: </label>
  <input type="text" th:field="*{username}" id="username"/>
  <div style="color:red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
  <br>
  <br>
  <label for="age">Enter age: </label>
  <input type="text" th:field="*{age}" id="age"/>
  <div style="color:red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></div>
  <br>
  <br>
  <label for="email">Enter email: </label>
  <input type="text" th:field="*{email}" id="email"/>
  <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
  <br>
  <br>
  <label for="password">Enter password: </label>
  <input type="password" th:field="*{password}" id="password"/>
  <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
<!--  <p>Role</p>-->
<!--  <br>-->
<!--  <select multiple name="nameRole" id="nameRole">-->
<!--    <option>ROLE_USER</option>-->
<!--    <option>ROLE_ADMIN</option>-->
<!--  </select>-->
  <div>
    <label>Roles:</label>
    <div>
      <label>
        <input type="checkbox" name="nameRole" value="ROLE_USER" /> User
      </label>
      <label>
        <input type="checkbox" name="nameRole" value="ROLE_ADMIN" /> Admin
      </label>
    </div>
  </div>

  <input type="submit" value="Update user"/>
</form>
<br>
<a th:href="@{/admin}">Go back</a>
<br>
<a href="/logout">Logout</a>
</body>
</html>