<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body th:align="center">
<h2>Registration</h2>
<div>
  <form th:method="POST" th:action="@{/registration}" th:object="${user}">
    <div>
      <label for="username">Enter username</label>
    </div>
    <input type="text" th:field="*{username}" id="username">
    <div>
      <label for="age">Enter age</label>
    </div>
    <input type="number" th:field="*{age}" id="age">
    <div>
      <label for="email">Enter email</label>
    </div>
    <input type="email" th:field="*{email}" id="email">

    <div>
      <label for="password">Enter password</label>
    </div>
    <input type="password" th:field="*{password}" id="password"/>

    <br>
    <input type="submit" value="Sign up"/>
  </form>
</div>
</body>
</html>